.cache
.motd_shown
.mysql_history
.mysql_history.TMP
.sqlite_history
.python_history
.zcompdump-NANCIO-5.8
.zcompdump
.landscape
.hushlogin
.npm
.local
.config/nvim/plugged
.bash_history
.bash_logout
.sudo_as_admin_successful
.config/coc
.config/nvim/pack
.config/htop
.config/neofetch
.zsh_history
.gitconfig
.bashrc
desktop.ini
plugged