[submodule ".tmux"]
	path = .tmux
	url = https://github.com/gpakosz/.tmux
[submodule ".config/nvim/plugged"]
	path = .config/nvim/plugged
	url = https://github.com/junegunn/vim-plug
[submodule ".oh-my-zsh"]
	path = .oh-my-zsh
	url = https://github.com/ohmyzsh/ohmyzsh
